* {
  box-sizing: border-box;
}

/* Small Mobile (≤480px) */
@media (max-width: 480px) {
  .nav-links {
    gap: 1rem;
    font-size: 1rem;
  }

  .about-details-container p {
    font-size: 1rem;
  }

  .btn-container .btn {
    padding: 0.7rem;
  }

  .project-title {
    font-size: 2.5rem;
  }

  .title {
    font-size: 2.2rem;
  }
}

/* Medium Screens (≤768px) */
@media (min-width: 768px) {
  /* Navigation */
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: block;
  }

  /* Profile Section */
  .section-text h1.title {
    font-size: 3.5rem;
  }
  .section-text .greeting,
  .section-text .job-title {
    font-size: 2.5rem;
  }

  .btn.custom-btn {
    padding: 15px 0;
    font-size: 1.2rem;
  }

  /* About Section */
  .about-details-container {
    margin: 0 1rem;
  }

  /* Projects Section */
  .projects-container {
    flex-direction: column;
    gap: 1rem;
  }

  .project-title {
    font-size: 3rem;
  }

  .project-img-container {
    width: 100%;
    max-width: 320px;
    height: 380px;
  }

  /* Contact Section */
  .contact-me-container {
    margin: 2rem;
    padding: 1rem;
  }
}

/* Large Screens (≤1200px) */
@media (max-width: 1200px) {
  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    font-size: 1.2rem;
    gap: 1.5rem;
  }

  .about-pic {
    max-width: 400px;
  }

  /* Nav toggle for large screens */
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

/* ===== Min-width Queries (Enhancements for Bigger Screens) ===== */

/* Medium+ (≥768px) */
@media (min-width: 768px) {
  section img.profile-pic {
    max-width: 65%;
  }

  .last-icon {
    margin-left: 3rem;
  }
}

@media (min-width: 1000px) {
  section img.profile-pic {
    max-width: 350px;
  }
  .section-text h1.title {
    font-size: 3rem;
  }
  .section-text .job-title {
    font-size: 2.5rem;
  }

  .project-title {
    font-size: 4rem;
  }

  .project-img-container {
    width: 100%;
    max-width: 400px;
    height: 520px;
  }
  .profile-pic-container {
    margin-left: 4rem;
  }
  .projects-pic {
    margin-bottom: 0.5rem;
  }

  button.btn.btn-dark {
    font-size: 1.3rem;
  }

  div.projects-container {
    gap: 5rem !important;
  }

  .icon {
    width: 80px;
  }
}

/* Extra Large (≥1200px) */
@media (min-width: 1200px) {
  section img.profile-pic {
    max-width: 500px;
  }

  .section-text .greeting,
  .section-text .job-title {
    font-size: 3rem;
  }

  .section-text h1.title {
    font-size: 4rem;
  }

  .project-img-container {
    width: 100%;
    max-width: 510px;
    height: 600px;
  }

  button.btn.btn-dark {
    font-size: 1.4rem;
  }

  .title {
    font-size: 3.5rem;
  }
}

/* Extra-extra Large (≥1550p0x) */
@media (min-width: 1550px) {
  section img.profile-pic {
    max-width: 750px;
  }

  .section-text .greeting,
  .section-text .job-title {
    font-size: 4rem;
    letter-spacing: 4px;
  }

  .section-text h1.title {
    font-size: 5rem;
    letter-spacing: 5px;
  }
  .btn.custom-btn {
    padding: 30px 0;
    font-size: 2.5rem;
  }

  .project-title {
    font-size: 8rem;
  }

  .project-img-container {
    width: 100%;
    max-width: 1050px;
    height: 1300px;
    padding: 2rem;
  }

  .projects-pic {
    margin-bottom: 2rem;
  }

  button.btn.btn-dark {
    font-size: 3rem;
  }

  div.projects-container {
    gap: 10rem !important;
  }

  .icon {
    width: 10rem;
  }

  .title {
    font-size: 6rem;
  }
}
