* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-gradient: linear-gradient(to bottom, #dda15e 0%, #faedcd 100%);
  --primary-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  --secondary-gradient: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}
body,
html {
  font-family: "Fira Code", monospace !important;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #212529 !important;
  color: #e6e7e7 !important;
  letter-spacing: 1px;
}

a,
.btn {
  transition: all 300ms ease;
}

/* NAVBAR*/

.navbar-nav .nav-link,
nav a {
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
  color: #e6e7e7;
  position: relative;
  padding: 1rem !important;
  transition: all 300ms ease;
  margin-left: 1rem;
  text-decoration: none;
}

.navbar-nav .nav-link:hover,
nav a.active {
  cursor: default;
  background: var(--secondary-gradient);
  border-radius: 1rem;
  color: black !important;
  font-weight: bold;
  padding: 1rem;
}

.navbar-nav .nav-item {
  margin-right: 2.5rem;
}

.navbar-toggler {
  border-color: #e6e7e7;
}

.navbar-toggler-icon {
  filter: invert(1); /* Turns the black icon into white */
}

/* PROFILE SECTION */

section {
  height: 85vh;
  min-height: fit-content;
  box-sizing: border-box;
  margin-bottom: 5rem;
}

img.profile-pic {
  max-width: 80%;
  box-shadow: var(--primary-shadow);
  opacity: 0;
  transform: translateX(-30%);
  animation: slideIn 1.5s ease-out forwards;
}

/* SlideIn animation with glow */

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-30%);
    box-shadow: 0 0 0 rgba(180, 100, 255, 0.5);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(180, 100, 255, 0.5);
  }
}

.section-text {
  text-align: center;
  align-self: center;
}

.section-text p {
  font-weight: 600;
}

.greeting {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(118, 118, 118);
}
.title {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 3px;
}

.job-title {
  font-size: 2rem;
  margin-top: 2rem;
  color: rgb(82, 82, 82);
}

.line {
  opacity: 0;
  display: inline-block;
  transform: scale(0.5);
  animation: popIn 0.6s ease-out forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.line1 {
  animation-delay: 1.5s;
}
.line2 {
  animation-delay: 1.8s;
}
.line3 {
  animation-delay: 2.1s;
}
.line4 {
  animation-delay: 2.5s;
}
.line5 {
  animation-delay: 2.8s;
}
/* PROFILE BUTTONS */

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  border-radius: 2rem;
  width: 8rem;
  margin-top: 1rem;
  border: none;
}

.btn.custom-btn {
  background: white;
  color: black;
  transition: transform 0.3s ease;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(221, 12, 12, 0.25);
}

.btn.custom-btn:hover {
  background: var(--secondary-gradient);
  transform: scale(1.1);
  cursor: pointer;
  color: black;
  font-weight: 700;
}

.icon {
  width: 60px;
  height: 80px;
  margin-bottom: 8px;
}

.icon-color {
  filter: invert(1);
}

/* ABOUT SECTION */

.about-pic {
  width: 400px;
  border-radius: 3rem;
  box-shadow: var(--primary-shadow);
  padding: 2rem;
}

.about-details-container {
  align-self: center;
}

.about-details-container {
  margin-right: 8rem;
}

.about-heading {
  font-family: "Playfair Display", serif;
  margin-top: 1.5rem;
}

.about-description {
  font-family: "Fira Code", monospace;
}

/* PROJECTS SECTION */
#projects {
  background: var(--secondary-gradient);
}

.project-title {
  color: #212529;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 3rem;
  padding: 3rem;
}

.projects-container {
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.project-img-container {
  background: #e6e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 280px;
  height: 350px;
  justify-content: space-evenly;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: -5px -5px 5px -2px rgba(69, 69, 69, 0.68), var(--primary-shadow);
  padding: 1rem;
}

.projects-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-pic:hover {
  opacity: 0.5;
}

/* CONTACT ME SECTION */
.contact-me-container {
  position: relative;
  margin: 2rem;
  color: white;
}

.contact-me-container::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  background: var(--secondary-gradient);
  filter: blur(15px);
}

#contact {
  padding-top: 3vh;
  align-items: center;
}

.email {
  text-align: center;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PROFILE BUTTONS */

.btn-btn {
  background: white;
  color: white;
  transition: transform 0.3s ease;
}

.btn-btn:hover {
  background: var(--primary-gradient);
  color: black;
  transform: scale(1.1);
  cursor: pointer;
}

.contact-btn {
  background: var(--primary-gradient);
  color: black;
  transition: transform 0.3s ease;
}

.contact-btn:hover {
  background: black;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAVIGATION */
#desktop-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 11vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: white;
}

nav,
.nav-links {
  display: flex;
}

.nav-links {
  font-size: 1.4rem;
  list-style: none;
  gap: 2rem;
}

a {
  text-decoration: none !important;
  color: white !important;
  transition: all 0.3s ease-out !important;
}

a:hover {
  color: #212529 !important;
  transform: scale(1.1) !important;
  text-decoration: underline !important;
  text-underline-offset: 0.5rem !important;
}

/* HAMBURGER MENU */
#hamburger-nav {
  display: none; /* Ensures hamburger menu is hidden on large screens */
}

.hamburger-menu {
  display: inline-block;
  position: relative;
}

.hamburger-icon {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 25px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3ms ease-in-out;
}

.menu-links {
  position: absolute;
  background-color: white;
  overflow: hidden;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  transition: all 0.3ms ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  transition: all 0.3ms ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
}

/* MOBILE AND DESKTOP NAVIGATION (Media Queries) */

/* For small screens (max-width: 768px) */
@media (max-width: 768px) {
  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .logo {
    padding: 0;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-icon {
    height: 20px;
    width: 30px;
  }

  #desktop-nav {
    display: none;
  }
}

/* For larger screens (min-width: 769px) */
@media (min-width: 769px) {
  #desktop-nav {
    display: flex; /* Show desktop nav */
  }

  #hamburger-nav {
    display: none; /* Hide hamburger nav */
  }

  * {
    margin: 0;
    padding: 0;
  }
}
